*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  width: 1440px;
  margin: 0 auto;
  font-family: Raleway, sans-serif;
  font-weight: 400;
  font-size: 20px;
  line-height: 120%;
  border-width: thin;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
ol,
li,
blockquote address {
  margin: 0;
  padding: 0;
}

a,
button {
  color: inherit;
}

a {
  width: fit-content;
}

img {
  width: 100%;
}
